@font-face {
	font-family:'Dancing Script';
	src: url('../fonts/DancingScript-Regular.ttf');
}

body {
	margin: 5px;
	background-color: #02010a;
	color: white;
	font-family: 'Dancing Script';
}

header{
	background-color: #5b7989;
  height: 10%;
  border-radius: 10px 10px 0px 0px;
  padding: 3% 0% 3% 3%;
}

#main-title{
  text-shadow: 2px 2px 2px #02010a;
}
#main-menu {
	padding: 0% 3% 0% 0%;
}
#main-menu a{
	padding: 1%;
}

@media screen and (min-width: 900px) {
   .contenedor{
		 width: 900px;
     margin-left: auto;
     margin-right: auto;
	 }
   header{
		 display: flex;
		 flex-flow: row wrap;
		 align-items: center;
		 justify-content: space-between;
	 }
}

@media screen and (max-width: 899px) {
	.contenedor{
		width: 100%;
		text-align: center;
		justify-content: center;
	}
}


/**CSS de ejemplo------------
body {
	margin: 20px;
	background-color: black;
	color: white;
	font-family: Raleway;
}

header h1{
	text-align: center;
}

#contenido {
	display: flex;
	flex-direction: column;
}

#contenido > h1 {
	padding: 10px;
	text-align: center;
}

footer {
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
}

.contenedor {
	display: flex;
	flex-direction: row;
}

.contenedor > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 50%;
}

img{
	border: 2px solid white;
	width: 200px;
}
#imagen1{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#imagen2{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

#imagen3{
	-webkit-filter: invert(100%);
	filter: invert(100%);
	transform: rotateZ(-45deg);
}

#imagen4{
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
}

@media screen and (max-width: 600px){
	 .contenedor{
		 display:flex;
		 flex-flow: column wrap;
	 }
}
**/
